@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

body {
  font-family: 'Annie Use Your Telescope', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(159, 94, 182, 0.7);
}

p {
  margin: 2px;
}

h4 {
  text-align: center;
}

h4.error {
  color: rgba(255, 0, 0, 0.6);
}

.wrapper {
  height: 100%;
}

.welcome {
  line-height: 25px;
  padding: 0 5px;
  padding-top: 5px;
  font-size: 21px;
}

.credit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: auto;
  padding: 7px;
  border: 2px solid #732091;
  -webkit-box-shadow: 5px 5px 5px 0px #909090;
          box-shadow: 5px 5px 5px 0px #909090;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 3px;
}

.credit p {
  color: #000;
  text-align: center;
  font-weight: 600;
  font-size: 19px;
}

.credit .smol {
  font-size: 11px;
}

.credit a {
  cursor: pointer;
  text-decoration: none;
  color: #342fa8;
  padding: 1px 2px;
  border-radius: 3px;
}

.credit a:hover {
  text-decoration: underline;
}

.tabs {
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5%;
}

.tabs .tab {
  color: #342fa8;
  font-size: 18px;
  width: 33%;
  height: auto;
  padding: 7px 5px;
  margin: 0 4px 0 0;
  text-transform: uppercase;
  border: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.inactive {
  background-color: lightGrey;
  border: solid lightGrey;
  border: 0 0 1px 0;
}

.active {
  border: 0;
  background-color: white;
}

.notepad {
  width: 50vw;
  min-width: 370px;
  font-size: 18px;
  margin-top: -2px;
  position: relative;
  margin: 0 auto 20px auto;
  padding-bottom: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 0px #909090;
          box-shadow: 5px 5px 5px 0px #909090;
}

.editor {
  height: 100%;
  overflow-y: auto;
}

.editor .saved,
.editor .default,
.editor .new {
  font-size: 16px;
  padding: 5px 0;
  margin-top: 0;
}

.entrylist {
  margin-top: 6px;
  padding: 0 5px;
}

.entrylist .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  line-height: 25px;
  margin-top: 1px;
}

.entrylist .span a {
  color: black;
  text-decoration: none;
  font-size: 21px;
}

.entrylist .span a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #342fa8;
          text-decoration-color: #342fa8;
}

.ddown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 24px;
}

.ddown #categories {
  margin-top: 0px;
}

.ddown select {
  width: auto;
  margin: -4px 0 0 0;
  border: 0;
  margin-left: 7px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.ddown select:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #342fa8;
          text-decoration-color: #342fa8;
}

.ddown select:active {
  border: solid #342fa8;
  border-bottom: 1px;
}

.ddown .viewall {
  text-transform: uppercase;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 24px;
  border: 0;
  margin-left: 15px;
  margin-top: -8px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.ddown .viewall:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #342fa8;
          text-decoration-color: #342fa8;
}

input {
  border: 0;
  margin: 0 0 0 5px;
  padding-left: 5px;
  font-size: 19px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0);
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  cursor: pointer;
  width: 80%;
  font-family: 'Annie Use Your Telescope', cursive;
}

input:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #342fa8;
          text-decoration-color: #342fa8;
}

.input {
  padding-top: 6px;
}

::-webkit-input-placeholder {
  color: #444;
}

:-ms-input-placeholder {
  color: #444;
}

::-ms-input-placeholder {
  color: #444;
}

::placeholder {
  color: #444;
}

.ins {
  line-height: 25px;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mod {
  line-height: 25px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.addy {
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.paper {
  position: relative;
  height: 100%;
  margin: 0 auto 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px #909090;
          box-shadow: 5px 5px 5px 0px #909090;
}

.header {
  width: 100%;
  left: 0;
  top: -10px;
  margin-bottom: -10px;
  position: relative;
}

.header h1 {
  padding: 8px 0 0 8px;
  font-size: 38px;
}

.header::before {
  content: '';
  position: absolute;
  border-bottom: solid rgba(255, 0, 0, 0.6);
  width: 100%;
  top: 43px;
  height: 4px;
}

.blue {
  min-height: 30vh;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  padding-bottom: 10px;
}

.buttons {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.buttons:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #342fa8;
          text-decoration-color: #342fa8;
}

.submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.x {
  display: inline;
  margin-left: auto;
  margin-right: 0;
  background: rgba(0, 0, 0, 0);
  border: 0;
  height: 23px;
  cursor: pointer;
}

.x:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #342fa8;
          text-decoration-color: #342fa8;
}

.close {
  margin: 1px;
  padding: 3px;
  cursor: pointer;
  background-color: #342fa8;
  border-radius: 5px;
  color: #fff;
  float: right;
  -webkit-transition: opacity 2000ms ease-in-out;
  transition: opacity 2000ms ease-in-out;
}

.icon {
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 1px;
}

.icon.trash {
  margin-top: -5px;
  margin-right: 5px;
  height: 29px;
  padding: 1px;
  cursor: pointer;
}

.icon.trash:hover {
  background: rgba(16, 91, 202, 0.3);
  border-radius: 10%;
}

.modal {
  -webkit-transform: translate(50%, 80%);
          transform: translate(50%, 80%);
  width: 50%;
  width: 70%;
  -webkit-transform: translate(21%, 50%);
          transform: translate(21%, 50%);
  border: 2px solid black;
}

.modal h3 {
  padding-top: 1px;
  font-size: 23px;
  text-align: center;
}

.modal .input {
  padding-top: 21px;
}

.modal .buttons {
  border: 2px solid #342fa8;
  background-color: #fff;
  font-size: 19px;
}
/*# sourceMappingURL=style.css.map */